services:
  api:
    build:
      context: apps/api
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    env_file:
      - apps/api/.env
    depends_on:
      postgres:
        condition: service_healthy
  web:
    build:
      context: apps/web
      dockerfile: Dockerfile
    depends_on:
      - api
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-http://localhost:8000}
      NEXT_PUBLIC_API_EVENTS_URL: ${NEXT_PUBLIC_API_EVENTS_URL:-http://localhost:8000/events}
    ports:
      - 3000:3000
  postgres:
    image: postgres:18.1-alpine3.23
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/18/docker
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $(POSTGRES_USER) -d $(POSTGRES_DB)"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
volumes:
  pgdata:
